footer {
  background-color: #353535;
  padding: 22px 25px 22px 25px;
  width: 100%;
}
footer ul {
  list-style-type: none;
  padding-left: 0px;
}
footer ul li {
  margin-bottom: 7px;
  display: block;
}
footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
footer svg {
  margin-right: 10px;
}
footer .logo-footer {
  width: 139px;
  height: 27px;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 63px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}
.navbar .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 197px;
  height: 63px;
  text-decoration: none;
}
.navbar .logo-container .logo {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  color: black;
}

.left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 15px;
  position: absolute;
  top: calc(50% - 8px);
  text-decoration: none;
}
.left-arrow .fa-arrow-left {
  font-size: 16px;
  color: #353535;
}

.restaurants {
  background-color: #F6F6F6;
  padding-top: 60px;
  padding-bottom: 60px;
}
.restaurants h2 {
  padding-left: 20px;
}
.restaurants a {
  text-decoration: none;
  color: black;
  width: 90%;
}
.restaurants a .restaurant-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  border-radius: 15px;
  background-color: white;
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.restaurants a .restaurant-card .new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #008766;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  text-align: center;
}
.restaurants a .restaurant-card .card-elements {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
}
.restaurants a .restaurant-card .card-elements .heart-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.restaurants a .restaurant-card h3 {
  padding-bottom: 3px;
}
.restaurants a .restaurant-card p {
  font-size: 17px;
  font-weight: 300;
}
.restaurants a .restaurant-card .txt-restaurant-card {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.rstr-img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  height: 170px;
}

#main-container-menu {
  background-color: #F3F3F3;
}

.img-restaurant-menu {
  width: 100%;
  height: 275px;
  object-fit: cover;
  position: relative;
  z-index: 0; /* Ensure the image stays behind the menu container */
}

.background-menu-container {
  background-color: #F3F3F3;
  position: relative;
  top: -60px;
  z-index: 1;
  border-radius: 40px 40px 0 0;
}

.menu-container h2 {
  display: inline-block; /* Ensures the underline can be controlled */
  position: relative;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.menu-container h2::after {
  content: ""; /* No actual content, only the underline */
  position: absolute;
  width: 40px; /* Adjust to control the length of the underline */
  height: 3px; /* Thickness of the underline */
  background-color: black; /* Color of the underline */
  left: 0; /* Start the underline 10% before the text */
  bottom: 3px; /* Position the underline below the text */
  background-color: #99E2D0;
}

.title-heart-container {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  justify-content: space-between;
  margin-right: 20px;
}
.title-heart-container .heart-div-container {
  flex-shrink: 0;
  width: 20px;
  display: flex;
  justify-content: center;
}
.title-heart-container .heart-div-container .heart-div {
  position: relative;
}
.title-heart-container .heart-div-container .heart-div .full, .title-heart-container .heart-div-container .heart-div .empty {
  z-index: 1000;
  top: -3px;
  right: 0;
  left: 0;
}

.cta-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cta-menu button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: bold;
  color: white;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
  padding: 16px 0;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(90deg, #9356DC 0%, #FF79DA 100%);
  width: 55%;
  transition: opacity 0.3s ease-in-out;
  margin-top: 45px;
}
.cta-menu button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.title-restaurant {
  padding-top: 20px;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 28px;
}

.menu-container {
  padding-left: 17px;
  padding-right: 17px;
  z-index: 1000;
  padding-top: 15px;
}

.entrees, .plats {
  margin-bottom: 40px;
}

.menu-item {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 10px;
}
.menu-item .plate-card {
  padding: 7px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 69px;
  position: relative;
}
.menu-item .plate-card .title {
  font-size: 18px;
  font-weight: 500;
  padding-left: 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
  transition: margin-right 0.4s ease-in-out;
}
.menu-item .plate-card .description-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding-left: 7px;
  margin-top: 5px;
}
.menu-item .plate-card .description {
  font-size: 15px;
  font-weight: 300;
  flex-grow: 1; /* Ensures the description takes available space */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item .plate-card p:not(.price) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
.menu-item .plate-card .price {
  font-size: 15px;
  font-weight: 700;
  margin-right: 30px;
  margin-left: 10px;
  white-space: nowrap;
  align-self: flex-end;
  transition: margin-right 0.4s ease-in-out;
}
.menu-item .plate-card .v-spin {
  width: 0;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 14px 14px 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  overflow: hidden; /* Hide content if the width is 0 */
  transition: width 0.4s ease-in-out;
  flex-shrink: 0;
  margin-left: 0;
}
.menu-item .plate-card:not(.v-spin) {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
.menu-item #toggle1,
.menu-item #toggle2,
.menu-item #toggle3,
.menu-item #toggle4,
.menu-item #toggle5,
.menu-item #toggle6,
.menu-item #toggle7,
.menu-item #toggle8,
.menu-item #toggle9 {
  opacity: 0;
  position: absolute;
}
.menu-item .toggle1:checked + label .plate-card .v-spin {
  width: 20%;
}
.menu-item .toggle1:not(:checked) + label .plate-card .v-spin {
  width: 0;
}
.menu-item .toggle1:checked + label .plate-card .title {
  margin-right: calc(20% + 10px);
}
.menu-item .toggle1:not(:checked) + label .plate-card .title {
  margin-right: 10px;
}
.menu-item .toggle1:not(:checked) + label .plate-card .price {
  margin-right: 15px;
}
.menu-item .toggle1:checked + label .plate-card .price {
  margin-right: calc(20% + 15px);
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.entrees, .plats, .desserts {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 2.5s ease-in-out;
}

.entrees, .plats, .desserts {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 3s ease-out, transform 0.6s ease-out;
}

.entrees:target, .plats:target, .desserts:target {
  opacity: 1;
  transform: translateX(0);
}

/* Fade-in effect triggered */
.menu-container .entrees {
  animation: fadeInLeft 3s ease-in-out forwards;
  opacity: 1;
}

.menu-container .plats {
  animation: fadeInLeft 4s ease-in-out forwards;
  opacity: 1;
}

.menu-container .desserts {
  animation: fadeInLeft 5s ease-in-out forwards;
  opacity: 1;
}

:root {
  --primary-color: #9356DC;
  --secondary-color: #FF79DA;
  --third-color: #99E2D0;
}

.shrikand {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.location {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2509803922);
  z-index: 1;
  position: relative;
  height: 62.5px;
}
.location p {
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  color: #353535;
}
.location .fa-location-dot {
  margin-right: 15px;
  color: #353535;
}

.cta {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 60px;
  position: relative;
  z-index: 0;
}
.cta h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  padding: 25px 42px 15px 42px;
  text-align: center;
}
.cta p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: thin;
  font-size: 18px;
  line-height: 21.09px;
  padding: 0 34px;
  text-align: center;
  margin-top: 0;
}
.cta button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: bold;
  color: white;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
  padding: 13px 18.75px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(90deg, #9356DC 0%, #FF79DA 100%);
  width: 60%;
  transition: opacity 0.3s ease-in-out;
  margin-top: 30px;
}
.cta button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.explanation {
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 20px;
}
.explanation h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
  padding-bottom: 10px;
}
.explanation .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  margin: 30px 15px;
  border-radius: 20px;
  height: 72.38px;
  position: relative;
}
.explanation .card p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
  margin: 0 20px;
}
.explanation .card i {
  margin: 0 0 0 40px;
}
.explanation .card .number {
  position: absolute;
  left: -35px;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 5px 10px;
  color: white;
}
.explanation .card:hover {
  cursor: pointer;
}
.explanation .card:hover i {
  color: var(--primary-color);
}

.checkbox-heart {
  position: absolute;
  transform: scale(0);
}

.hover-icon {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.full, .empty {
  z-index: 1000;
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 25px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right: 25px;
  top: 25px;
}

.full {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-position: 0% 100%;
  opacity: 0;
  transition: opacity 1s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.empty {
  background: black;
  background-position: 0% 100%;
  opacity: 1;
  transition: opacity 1s ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.checkbox-heart:checked + label .full {
  opacity: 1;
  animation: fillHeart 1s forwards ease-in-out;
}

.checkbox-heart:not(:checked) + label .full {
  opacity: 0;
  animation: unfillHeart 1s forwards ease-in-out;
}

.checkbox-heart:checked + label .empty {
  opacity: 0;
  animation: unfillHeart 1s forwards ease-in-out;
}

.checkbox-heart:not(:checked) + label .empty {
  opacity: 1;
  animation: fillHeart 1s forwards ease-in-out;
}

@keyframes fillHeart {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}
@keyframes unfillHeart {
  from {
    background-position: 0% 0%; /* Start at the top */
  }
  to {
    background-position: 0% 100%; /* End at the bottom */
  }
}
main {
  opacity: 0;
  height: 100vh;
  overflow: hidden;
  animation: animateMain 2s linear normal forwards;
}

#loader {
  position: absolute;
  color: #99E2D0;
  width: 50px;
  height: 50px;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  transform-origin: 20px;
  animation: loaderSpin 2s linear normal forwards;
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
    color: #99E2D0;
  }
  25% {
    transform: rotate(180deg);
    color: #008766;
  }
  50% {
    transform: rotate(360deg);
    color: #89C8FA;
  }
  75% {
    transform: rotate(540deg);
    color: #008766;
    opacity: 1;
  }
  100% {
    transform: rotate(720deg);
    color: #99E2D0;
    opacity: 0;
  }
}
@keyframes animateMain {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
    height: 100vh;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, h1, h2, h3, p {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
