//  MOBILE
footer {
  background-color: #353535;
  padding: 22px 25px 22px 25px;
  width: 100%;

  ul {
    list-style-type: none;
    padding-left: 0px;

    li {
      margin-bottom: 7px;
      display: block;

      a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  svg {
    margin-right: 10px;
  }

  .logo-footer {
    width:139px;
    height: 27px;
    font-family: "Shrikhand", cursive;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
  }
}

//  TABLETTE
@media (min-width: 768px) {

}

//  DESKTOP
@media (min-width: 1024px) {

}
