//  MOBILE
footer {
  background-color: #353535;
  padding: 22px 25px;
  width: 100%;
  display: flex;
  flex-direction: column;

  ul {
    list-style-type: none;
    padding-left: 0px;

    li {
      margin-bottom: 7px;
      display: block;

      a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  svg {
    margin-right: 10px;
  }

  .logo-footer {
    width:139px;
    height: 27px;
    font-family: "Shrikhand", cursive;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
  }
}

//  TABLETTE
@media (min-width: 768px) {}

//  DESKTOP
@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row;
    padding: 50px 25px 10px 25px;
    align-items: flex-end;
    justify-content: flex-end;

    .logo-footer {
      order: 2;
    }

    ul {
      order: 1;
      display: flex;

      li {
        margin-right: 10px;
      }

      li:nth-child(2) {
        margin-right: 50px;
      }

      li:last-child {
        margin-right: 100px;
      }
    }
  }
}
