//  MOBILE

.navbar {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 63px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 197px;
      height:63px;


      .logo {
      width: 197px;
      height:36px;
      }
    }
}


//  TABLETTE
@media (min-width: 768px) {

}

//  DESKTOP
@media (min-width: 1024px) {

}
