//  MOBILE

.img-restaurant-menu {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.menu-container {
    h2 {
        display: inline-block; /* Ensures the underline can be controlled */
        position: relative;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        color: black;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    // Adjust the underline entrées/plats/desserts elements
    h2::after {
        content: ''; /* No actual content, only the underline */
        position: absolute;
        width: 60%; /* Adjust to control the length of the underline */
        height: 3px; /* Thickness of the underline */
        background-color: black; /* Color of the underline */
        left: -0; /* Start the underline 10% before the text */
        bottom: 3px; /* Position the underline below the text */
        background-color: #99E2D0;
    }
}

.title-heart-container {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    
    .heart-div {
        position: relative;

        .full, .empty {
            z-index: 1000;
            top: -3px;
            right: 0;
            left:35px;
        }
    }
}

.background-menu-container {
    background-color: #F3F3F3;
}

.title-restaurant {
    padding-top: 20px;
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 28px;
}

.menu-container {
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 30px;    
}


.menu-item {
    // margin-bottom: 30px;
    background-color: white;
    border-radius: 15px;

    .plate-card {
        padding: 7px;
        box-shadow: 0px 4.01px 15.04px 0px #0000001A;
        border-radius: 15px;
        display: flex;
        align-items: center;
        height: 69px;
        position: relative;
        justify-content: space-between;

    
        .title-description {
            margin-left: 10px;
            flex-grow: 1;
            min-width: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            p {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin: 0
            }
            .title {
                font-size: 18px;
                font-weight: 500;
            }
    
            .description {
                font-size: 15px;
                font-weight: 300;
                // margin-top: auto;
            }
    
        }
        .price {
            font-size: 15px;
            font-weight: 700;
            margin-right: 15px;
            align-self: flex-end; /* Align price to the bottom of the plate-card */
            transition: margin-right 0.4s ease-in-out;
        }
    
        .v-spin {
            width: 0;
            height: 100%;
            background-color: #99E2D0;
            border-radius: 0 14px 14px 0;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            overflow: hidden; /* Hide content if the width is 0 */
            transition: width 0.4s ease-in-out;
        }
    }
    
    .plate-card:not(.v-spin) {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }

    #toggle1 {
        opacity: 0;
        position: absolute;
    }
    
    .toggle1:checked + label .plate-card .v-spin {
        width: 20%;
    }

    .toggle1:checked + label .plate-card .price {
        margin-right: calc(20% + 15px); /* Adjust the margin-right to account for .v-spin */
    }

    // When unchecked, hide .v-spin and reset margin-right of .price
    .toggle1:not(:checked) + label .plate-card .v-spin {
        width: 0;
    }

    .toggle1:not(:checked) + label .plate-card .price {
        margin-right: 15px;
    }
}

//  TABLETTE
@media (min-width: 768px) {

}

//  DESKTOP
@media (min-width: 1024px) {

}
