//  MOBILE

.img-restaurant-menu {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.menu-container {
    h2 {
        display: inline-block; /* Ensures the underline can be controlled */
        position: relative;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        color: black;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    // Adjust the underline entrées/plats/desserts elements
    h2::after {
        content: ''; /* No actual content, only the underline */
        position: absolute;
        width: 60%; /* Adjust to control the length of the underline */
        height: 3px; /* Thickness of the underline */
        background-color: black; /* Color of the underline */
        left: -0; /* Start the underline 10% before the text */
        bottom: 3px; /* Position the underline below the text */
        background-color: #99E2D0;
    }
}

.title-heart-container {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    
    .heart-div {
        position: relative;

        .full, .empty {
            z-index: 1000;
            top: -3px;
            right: 0;
            left:35px;
        }
    }
}

.background-menu-container {
    background-color: #F3F3F3;
}

.title-restaurant {
    padding-top: 20px;
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 28px;
}

.menu-container {
    padding-left: 17px;
    padding-right: 17px;    
}

.plate-card {
    padding: 7px;
    box-shadow: 0px 4.01px 15.04px 0px #0000001A;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
    background-color: white;

    .title-description {
        .title {
            font-size: 18px;
            font-weight: 500;
        }

        .description {
            font-size: 15px;
            font-weight: 300;
        }

    }
    .price {
        font-size: 15px;
        font-weight: 700;
    }
}


//  TABLETTE
@media (min-width: 768px) {

}

//  DESKTOP
@media (min-width: 1024px) {

}
