//  MOBILE


#main-container-menu {
    background-color: var(--background-two);
}

.img-restaurant-menu {
    width: 100%;
    height: 275px;
    object-fit: cover;
    position: relative;
    z-index: 0; /* Ensure the image stays behind the menu container */
}

.background-menu-container {
    background-color: var(--background-two);
    position: relative;
    margin-top: -60px;
    z-index: 1;
    border-radius: 40px 40px 0 0;
}

.menu-container {
    padding-bottom: 45px;
    h2 {
        display: inline-block; /* Ensures the underline can be controlled */
        position: relative;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        color: black;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    // Adjust the underline entrées/plats/desserts elements
    h2::after {
        content: ''; /* No actual content, only the underline */
        position: absolute;
        width: 40px; /* Adjust to control the length of the underline */
        height: 3px; /* Thickness of the underline */
        background-color: black; /* Color of the underline */
        left: -0; /* Start the underline 10% before the text */
        bottom: 3px; /* Position the underline below the text */
        background-color: var(--slight-green);
    }
}

.title-heart-container {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    justify-content: center;
    column-gap: 20px;

    .heart-div-container {
        width: 20px;
        display: flex;
        justify-content: center;
        margin-left: 0px;
    
        .heart-div {
        position: relative;

            .full, .empty {
            z-index: 1000;
            top: -3px;
            right: 0;
            left:0;
            }
        }
    }
}

.cta-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: bold;
        color: white;
        font-size: 16px;
        line-height: 18.75px;
        text-align: center;
        padding: 16px 0;
        border-radius: 25px;
        border: none;
        box-shadow: 0px 4px 10px 0px #00000040;
        background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
        width: 186px;
        transition: opacity 0.3s ease-in-out;
        margin-top: 35px;
    }
}

.title-restaurant {
    padding-top: 20px;
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 28px;
}

.menu-container {
    padding-inline: 17px;
    z-index: 1000;
    padding-top: 15px;
}

.entrees, .plats {
    margin-bottom: 40px;
}

.menu-item {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 10px;

    .plate-card {
        padding: 7px;
        box-shadow: 0px 4.01px 15.04px 0px #0000001A;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 69px;
        position: relative;
        cursor: pointer;

        .title {
            font-size: 18px;
            font-weight: 500;
            padding-left: 7px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex-shrink: 1;
            transition: margin-right 0.4s ease-in-out;
        }

        .description-price {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            width: 100%;
            padding-left: 7px;
            margin-top: 5px;
        }

        .description {
            font-size: 15px;
            font-weight: 300;
            flex-grow: 1; /* Ensures the description takes available space */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        p:not(.price) {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 0;
        }
        
        .price {
            font-size: 15px;
            font-weight: 700;
            margin-right: 30px;
            margin-left: 10px;
            white-space: nowrap;
            align-self: flex-end;
            transition: margin-right 0.4s ease-in-out;
        }
    
        .v-spin {
            width: 0;
            height: 100%;
            background-color: var(--slight-green);
            border-radius: 0 14px 14px 0;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            overflow: hidden; /* Hide content if the width is 0 */
            transition: width 0.4s ease-in-out;
            flex-shrink: 0;
            margin-left: 0;
        }
    }
    
    .plate-card:not(.v-spin) {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }

    #toggle1,
    #toggle2, 
    #toggle3, 
    #toggle4, 
    #toggle5, 
    #toggle6, 
    #toggle7, 
    #toggle8,
    #toggle9 {
        opacity: 0;
        position: absolute;
    }
    
    .toggle1:checked + label .plate-card .v-spin {
        width: 20%;
    }

    .toggle1:not(:checked) + label .plate-card .v-spin {
        width: 0;
    }

    .toggle1:checked + label .plate-card .title {
        margin-right: calc(20% + 10px);
    }

    .toggle1:not(:checked) + label .plate-card .title {
        margin-right: 10px;
    }

    .toggle1:not(:checked) + label .plate-card .price {
        margin-right: 15px;
    }

    .toggle1:checked + label .plate-card .price {
        margin-right: calc(20% + 15px);
    }

}



// animation staircase

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.entrees, .plats, .desserts {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 2.5s ease-in-out;
}

.entrees, .plats, .desserts {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease-out, transform 0.6s ease-out;
}

.entrees:target, .plats:target, .desserts:target {
    opacity: 1;
    transform: translateX(0);
}

/* Fade-in effect triggered */
.menu-container .entrees {
  animation: fadeInLeft 1s ease-in-out forwards;
  opacity: 1;
}

.menu-container .plats {
  animation: fadeInLeft 2s ease-in-out forwards;
  opacity: 1;
}

.menu-container .desserts {
  animation: fadeInLeft 3s ease-in-out forwards;
  opacity: 1;
}

//  TABLETTE
@media (min-width: 768px) {}

//  DESKTOP
@media (min-width: 1024px) {
    .background-menu-container {
        margin-inline: 180px;
        
        .menu-container {
            margin-inline: 160px;
            padding-inline: 0;

            .title-heart-container {
                justify-content: center;

                .heart-div-container {
                    width: 50px;
                }
            }
        }
    }
    #main-container-menu {
        background-color: #ffffff;
    }
}
