// IMPORTS

@import 'footer';
@import 'navbar';
@import 'restaurant-card';
@import 'restaurant-menu';
@import 'variables';
@import 'fonts';
@import 'home';

//  MOBILE

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, h1, h2, h3, p {
  margin: 0;
}

//  TABLETTE
@media (min-width: 768px) {

}

//  DESKTOP
@media (min-width: 1024px) {

}
